.nav-container {
  margin-top: -1rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.hamburger-btn {
  position: absolute;
  left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
  width: 2rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  transition: height 0.2s;
}

.hamburger-btn.open {
  height: 2.5rem
}

.hamburger-btn span {
  width: 2rem;
  height: 0.2rem;
  background: #d6d5e3;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.navbar {
  display: flex;
  padding: 0.5rem;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-color: #191342;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
  list-style: none;
}

.nav-link {
  font-family: "Jost", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  color: #d6d5e3;
}

/* Barra Lateral (Sidebar) */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #191342;
  overflow-x: hidden;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%); /* Começa fora da tela */
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  transform: translateX(0); /* Entra na tela */
}

.sidebar-link {
  padding: 10px 15px;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #c9cbdf;
  display: block;
  transition: 0.3s;
}

.sidebar-link:hover {
  color: #fff;
  background-color: #2e0d49;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  color: #c9cbdf;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
}

/* Fundo Escurecido (Overlay) */
.overlay {
  display: none; /* Começa escondido */
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 50;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.overlay.active {
  display: block;
  opacity: 1;
}
