@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* Geral - Todo o documento */
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #d6d5e3;
}

/* Header */

header {
  background-color: #0f0c26;
  text-align: center;
  padding-bottom: 0.05rem;
  z-index: 2;
}

.main-heading, .main-subheading, h2 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

.main-heading {
  color:  	 	#c9cbdf;
  padding-top: 0.5rem;
}

.main-subheading {
  color: #97a5ca;
  margin: 0;
  margin-bottom: 2rem;
  font-size: small;
}

/* Main */

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem
}

p {
  margin: 1rem 1rem;
}

h2 {
  text-transform: uppercase;
  line-height: 100%;
}

.structure-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

summary {
  font-family: "Jost", sans-serif;
}


.sector-detailing {
  box-sizing: border-box;
  border: 1px solid #191342;
  border-radius: 10px;
  font-weight: 500;
}

/* Animação do gradiente ao selecionar o setor */

.sector-summary {
  list-style: none;
  background-color: #191342;
  color: #c9cbdf;
  border-radius: 5px;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.sector-summary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #2e0d49 45%, #690936 70%);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.sector-summary:hover {
  cursor: pointer;
}

.sector-summary:hover::before {
  opacity: 1;
}

.details-collapsing {
  overflow: hidden
}

.details-collapsing:not([open]) .details-content {
  height: 0
}

.details-content {
  margin: 0;
  padding: 1em 0.5em 1em 0.5em
}

.chapter-detailing {
  margin-left: 0.5em;

  & summary {
    list-style: none;
  };

}

.chapter-detailing summary {
  display: inline-flex;
  padding: 0 0.5em 0 0.5em;
  border-radius: 5px;
  transition:
    background-color 0.4s,
    color 0.4s,
    padding 0.2s ease-in-out;

}

.chapter-detailing summary:hover {
  background-color: #bbb9c9;
  color: #191342;
  padding: 0.2rem;
  cursor: pointer
}

.chapter-detailing .details-content {
  border: 1px solid #bbb9c9;
  border-radius: 5px;
  padding: 1em 0.5em 1em 0.5em
}

.work-in-progress {
  max-width: 40%;
  height: auto;
}